# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# Python
*.pyc
*.pyo

# node_modules
node_modules/

# Docker compose files
docker/docker-compose.yml

# Client dist files
client/public/

# Server log files
server/logs/*.log

# dotenv file
.env

# Other
.DS_Store
*.log
