[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
"psycopg2" = "*"
django = "*"
celery = "*"
redis = "*"
numpy = "*"
eventlet = "*"
djangorestframework = "*"
python-dotenv = "*"
sqlparse = "*"

[dev-packages]

[requires]
python_version = "3.6"

[scripts]
start = "python server/manage.py runserver"
migrate = "python server/manage.py migrate"
migrate-binary = "python server/manage.py migrate binary --database=binary_db"
celery-start = "celery -A binspdt worker -l info -P eventlet"
celery-purge = "celery -A binspdt purge"
